@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
}

    <h2>Dustin Nielsen</h2>
    <img src="img/DustinHike.jpg" width="400" />
    <p>
        I first hope to get a better feeling for developing
        websites. I know last semester we had IS 403, but
        I still feel very new to web dev and I'm very excited
        to become more comfortable. Secretly, I'm
        a excited to pick up C++ again. I took CS 142
        and CS 235; I guess I've missed the language. On a
        similar note, I want to learn JavaScript.
    </p>

    <h1>Top #3 jobs</h1>
    <ul>
        <li>Software Developer</li>
        <li>Data Analyst</li>
        <li>Data Scientist</li>
    </ul>
